lab1/p1/*
!lab1/p1/simple_program.s

lab2/p1/*
!lab2/p1/scroll.s
lab2/p2/*
!lab2/p2/button.s

lab3/p1/*
!lab3/p1/part1.s
lab3/p2/p2-1/*
!lab3/p2/p2-1/proj3-part2-1.c
!lab3/p2/p2-1/proj3-part2-1.s
lab3/p2/p2-2/*
!lab3/p2/p2-2/proj3-part2-2.s

lab4/p1/*
!lab4/p1/address_map_nios2.s
!lab4/p1/exception_handler.s
!lab4/p1/interrupt_example.s
!lab4/p1/interval_timer_ISR.s
!lab4/p1/pushbutton_ISR.s
